<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.kw.project.module.features.home">
    <dist:module
        dist:onDemand="false"
        dist:title="home">
        <dist:fusing dist:include="true" />
    </dist:module>

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:extractNativeLibs="false"/>
</manifest>